.GrayRoomPicture {
  position: absolute;
  left: 5rem;
  top: 12rem;
}
#GrayRoomP {
  color: rgb(56, 55, 55);
  margin-right: 20rem;
}

#p {
  position: absolute;
  top: 35rem;
  padding: 0 10vw 0 80vw;
  z-index: -1;
}
#BlueRoomP {
  color: rgb(56, 55, 55);
  margin-right: 20rem;
}

#BlueRoomPaper {
  position: relative;
  padding: 0 10vw 0 83vw;
}

.BlueRoomPicture {
  position: absolute;
  top: 2rem;
  right: 20rem;
}
