.title {
  margin: 1rem 0 1rem 0;
  width: 100vw;
  height: 4rem;
}
.T {
  color: rgb(68, 67, 67);
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  padding-top: 1rem;
}
.user {
  width: 20rem;
  height: 20rem;
}

.email {
  width: 2rem;
  height: 2rem;
}
.mobile {
  width: 4rem;
  height: 4rem;
}

.country{
  width: 4rem;
  height: 4rem;
}
